/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.des.2015, 13:53:16
    Author     : espenandreassen
*/

.star {
text-align: center;
}

.star-right-text{
    text-align: left;
}

.star-left-text{
    text-align: right;
}