<div class="container"  id="top">
    <div ng-repeat="course in courses track by $index">
        <div class="row">
            <div class="center">
                <div class="card cyan lighten-1 ">
                    <div class="card-content white-text">
                        <span class="card-title white-text bold">{{course.subject_name}}</span>
                        <p>{{course.subject_code}}</p>
                        <p>{{course.subject_school}}</p>
                    </div>
                    <div class="card-content cyan lighten-2 white-text">
                        <span class="card-title">Rating</span> <br>
                        <div ng-style="{'display': 'inline'}" ng-repeat="star in totalStars.getStars() track by $index"
                             class="material-icons white-text medium">{{star}}
                        </div>
                        <br>
                        Gjennomsnitt: {{totalStars.avrageShortned}}
                    </div>
                    <div class="card-content white section">
                        <div class="col s12">
                            <ul class="tabs" tabs>
                                <li class="tab col s4"><a href="#stars">1. Vurder fra 1 - 6!</a></li>
                                <li class="tab col s4"><a href="#comment"> 2. Skriv gjerne en kommentar!</a></li>
                            </ul>
                        </div>

                        <div id="stars">
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="divider"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="star"><span style="font-weight: 500" tooltipped data-position="top" data-delay="80" data-tooltip="Hvordan er kvaliteten på forelesninger, oppgavesett, gruppetimer osv.?">Hvordan er undervisningstilbudet?<i class="material-icons tiny grey-text">live_help</i></span></td>
                                </tr>
                                <tr>
                                    <td class="col s4 star-left-text grey-text">dårlig</td>
                                    <td class="col s4 star">
                                        <div ng-repeat="star in teachingQuality.getStars() track by $index"
                                             ng-click="teachingQuality.persistRating($index); starsValidator.setToValid(0)"
                                             ng-mouseenter="teachingQuality.displayCurrentRating($index)"
                                             ng-mouseleave="teachingQuality.showPersistedRating()"
                                             class=" material-icons cyan-text  medium"
                                             ng-style="{ 'width': '30px', 'cursor' : 'pointer'}">{{star}}
                                        </div>
                                    </td>
                                    <td class=" col s4 star-right-text grey-text">bra</td>
                                </tr>
                                <tr>
                                    <td class="star"><span style="font-weight: 500" tooltipped data-position="top" data-delay="80" data-tooltip="Hvordan er arbeidsmengden i kurset i forhold til antall studiepoeng?">Hvordan er arbeidsmengden?<i class="material-icons tiny grey-text">live_help</i></span></td>
                                </tr>
                                <tr>
                                    <td class="col s4 star-left-text grey-text">liten</td>
                                    <td class="col s4 star">
                                        <div ng-repeat="star in workLoad.getStars() track by $index"
                                             ng-click="workLoad.persistRating($index); starsValidator.setToValid(1)"
                                             ng-mouseenter="workLoad.displayCurrentRating($index)"
                                             ng-mouseleave="workLoad.showPersistedRating()"
                                             class=" material-icons cyan-text  medium"
                                             ng-style="{ 'width': '30px', 'cursor' : 'pointer'}">{{star}}
                                        </div>
                                    </td>
                                    <td class=" col s4 star-right-text grey-text">stor</td>
                                </tr>
                                <tr>
                                    <td class="star"><span style="font-weight: 500" tooltipped data-position="top" data-delay="80" data-tooltip="Hvor vannskelig er det å tilegne seg forståelse for pensum?">Hvordan er vannskelighetsgraden?<i class="material-icons tiny grey-text">live_help</i></span></td>
                                </tr>
                                <tr>
                                    <td class="col s4 star-left-text grey-text">lett</td>
                                    <td class="col s4 star">
                                        <div ng-repeat="star in skillLevel.getStars() track by $index"
                                             ng-click="skillLevel.persistRating($index); starsValidator.setToValid(2)"
                                             ng-mouseenter="skillLevel.displayCurrentRating($index)"
                                             ng-mouseleave="skillLevel.showPersistedRating()"
                                             class=" material-icons cyan-text  medium"
                                             ng-style="{ 'width': '30px', 'cursor' : 'pointer'}">{{star}}
                                        </div>
                                    </td>
                                    <td class=" col s4 star-right-text grey-text">vannskelig</td>
                                </tr>
                                <tr>
                                    <td class="star"><span style="font-weight: 500" tooltipped data-position="top" data-delay="80" data-tooltip="Hvordan er det å bestå eller få en god karakter i kurset?">Hvor vannskelig var eksamen?<i class="material-icons tiny grey-text">live_help</i></span></td>
                                </tr>
                                <tr>
                                    <td class="col s4 star-left-text grey-text">lett</td>
                                    <td class="col s4 star">
                                        <div ng-repeat="star in grading.getStars() track by $index"
                                             ng-click="grading.persistRating($index); starsValidator.setToValid(3)"
                                             ng-mouseenter="grading.displayCurrentRating($index)"
                                             ng-mouseleave="grading.showPersistedRating()"
                                             class=" material-icons cyan-text  medium"
                                             ng-style="{ 'width': '30px', 'cursor' : 'pointer'}">{{star}}
                                        </div>
                                    </td>
                                    <td class=" col s4 star-right-text grey-text">vannskelig</td>
                                </tr>
                                <tr>
                                    <td class="star">
                                        <div ng-show="starsValidator.isValid">
                                            <a class="btn star" ng-click="submitStars()">Send!</a>
                                        </div>
                                        <div ng-hide="starsValidator.isValid">
                                            <a class="btn star disabled">Send!</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="comment">
                            <div ng-controller="reCaptchaCTRL" class="row">
                                <div class="col s1"><span>.</span></div>
                                <form class="col s10">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">mode_edit</i>
                                            <textarea id="textarea1" ng-model='comment'
                                                      class="materialize-textarea"></textarea>
                                            <label for="textarea1">Fortell hva du synes!</label>
                                        </div>
                                        <div class="input-field col s12 l5">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input placeholder="Placeholder" ng-model="name" id="first_name" type="text"
                                                   class="validate">
                                            <label for="first_name">Hvilket navn skal vises?</label>
                                        </div>
                                    </div>

                                    <div id="validation" class="col s12 12">
                                        <div class="col s12 l4 m4">
                                            <div class="center-align"
                                                 vc-recaptcha
                                                 theme="'light'"
                                                 key="model.key"
                                                 on-create="setWidgetId(widgetId)"
                                                 on-success="setResponse(response)"
                                                 on-expire="cbExpiration()"
                                            ></div>
                                        </div>
                                        <div class="col s4">
                                            <a class="btn {{valid}}" ng-click="submit()">Send!</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="divider" id="comments"></div>
                    <div class="card-content grey lighten-4" >
                        <div class="row card-panel white lighten-1"
                             ng-repeat="comment in courseComments| orderBy:'-nr'">
                            <div class="col s12">
                                <h6 class="grey-text left-align"><i class="material-icons tiny prefix">mode_comment</i>
                                    {{comment.name}}
                                    <i class="material-icons tiny prefix">insert_invitation</i> {{comment.timestamp}}
                                </h6>
                            </div>
                            <div class="col s4 divider"></div>
                            <span><br></span>
                            <div class="col s12">
                                <p class="black-text left-align">{{comment.comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

