
<!-- Page Layout -->



<div class="row"> 
    <div class="container">
        <div class="card white" >
            <div class="card-content white-text">
                <div class="center-align">
                    <h4 class=" cyan-text center-align">Søk etter en skole eller et fag!</h4>
                </div>
                <nav>
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field cyan lighten-1">
                                <input ng-keypress = "search($event)" placeholder="NTNU, norge, inf1010, programmering...." ng-model="string" id="search" type="search" required>
                                <label for="search"><i ng-click="searchAll()" ng-style="{'cursor' : 'pointer'}" class="material-icons">search</i></label>
                                <i ng-click="string = ''" class="material-icons">close</i>
                            </div>
                        </form>
                    </div>

                </nav>

                <!-- Search settings accordion -->
                <ul class="collapsible z-depth-0" data-collapsible="accordion" ng-click="changeCIcon()">
                    <li>
                        <div class="collapsible-header cyan-text text-align-center z-depth-0"><i class="material-icons">{{collapsibleIcon}}</i>
                            <span class="cyan-text text-align-center">Filtreringsvalg</span>
                        </div>
                        <div class="collapsible-body switch cyan-text z-depth-0">

                            <table>                                            
                                <tr>
                                    <td>
                                        <label>                                                     
                                            <input style="background-color: #26C6DA" type="checkbox" ng-model="showSchools" ng-init="showSchools = true" >
                                            <span class="lever grey"></span>
                                            Vis skoler
                                        </label>
                                    </td>
                                    <td><label>
                                            <input type="checkbox" ng-model="showCourses" ng-init="showCourses = true">
                                            <span class="lever grey"></span>
                                            Vis fag</label></td>
                                    <td>
                                        <div>
                                            <div class="col s12">
                                                <form name="myForm">
                                                    <label>Vis kun fag fra:</label>
                                                    <select multiple ng-model="selectedSchool">
                                                        <option value="" disabled selected>Velg en eller flere skoler</option>
                                                        <option value="Norges teknisk-naturvitenskapelige universitet">NTNU</option>
                                                        <option value="Universitetet i Oslo">UiO</option>
                                                    </select>
                                                </form>
                                             
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- search results-->
            <div class="card-action" ng-show="schools.length && showSchools">
                <ul class="collection" >

                    <li class="collection-item avatar" ng-repeat="school in schools track by $index">
                        <div ng-click="openSchool(school.school_short)" ng-style="{'cursor' : 'pointer' }">

                            <i class="material-icons circle cyan">account_balance</i>
                            <span class="title black-text">{{school.school_name}}</span>
                            <p><span class= "cyan-text">Forkortelse:</span> {{school.school_short}}<br>
                                <span class= "cyan-text">Antall fag:</span> {{school.school_courses_count}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-action" ng-show="courses.length && showCourses">
                <ul class="collection" >
                    <li class="collection-item avatar " ng-repeat="course in courses track by $index">
                        <div ng-click="openCourse(course.subject_code)" ng-style="{'cursor' : 'pointer' }">
                            <i class="material-icons circle cyan">school</i>
                            <span class="title">{{course.subject_name}}</span>
                            <p><span class= "cyan-text">Skole:</span> {{course.subject_school}}<br>
                                <span class= "cyan-text">Kurskode:</span> {{course.subject_code}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

