
<div class="container">
    <div ng-repeat="school in schools">
        <div class="row">
            <div class="center">
                <div class="card cyan lighten-1 ">
                    <div class="card-content white-text">
                        <span class="card-title white-text bold">{{school.school_name}}</span>
                        <p>{{school.school_short}}</p>
                        <p>{{school.school_courses_count}} fag</p>
                    </div>
                    <div class="card-content cyan lighten-2 white-text">     
                        <span class="card.title">Rating</span> <br>
                        <ul  ng-style="{'display': 'inline'}">
                            <li ng-repeat="star in stars track by $index" class="material-icons white-text medium" ng-style="{ 'width': '30px'}">{{star}}</li>
                        </ul><br>
                       Gjennomsnitt: {{avrageShortned}}
                       
                    </div>
                    <div class="card-content white">
                        <ul  ng-style="{'display': 'inline'}"  >
                            <li ng-click="registerRating($index)" ng-repeat="star in starsRator track by $index" ng-mouseenter="displayCurrentRating($index)" ng-mouseleave="removeCurrentRating()" class=" material-icons grey-text  medium" ng-style="{ 'width': '30px', 'cursor' : 'pointer'}">{{star}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>